// Colors
$IColor: #ffffff;
$IIColor: #000000;
$IIIColor: #d41443;
$IVColor: #ffa5ba;
$IBgColor: #ffb8ca;
$IIBgColor: #f0d1a5;
$IIIBgColor: #c2e297;
$IVBgColor: #fafafa;
$VBgColor: #fff5f6;
$mobileMenuBgColor: #e17992;
$mobileMenuLineColor: #e18298;
$socialMediaColor: #fea5bb;
$textColor: #907e82;
$btnColor: #d41342;
$btnHoverIColor: #ecebeb;
$btnHoverIIColor: #c7133e;
$lineColor: #e1e1e1;
$homeIconColor: #d31342;
$sliderColor: #d9d9d9;
// Fonts
$fontPrimary: 'DM Sans', sans-serif;
$fontSecondary: 'Titan One', sans-serif;
