// Colors
$IColor: #FFFFFF;
$IIColor: #000000;
$IIIColor: #D41443;
$IVColor: #FFA5BA;
$IBgColor: #FFB8CA;
$IIBgColor: #F0D1A5;
$IIIBgColor: #C2E297;
$IVBgColor: #FAFAFA;
$VBgColor: #FFF5F6;
$mobileMenuBgColor: #E17992;
$mobileMenuLineColor: #E18298;
$socialMediaColor: #FEA5BB;
$textColor: #907E82;
$btnColor: #D41342;
$btnHoverIColor: #ECEBEB;
$btnHoverIIColor: #C7133E;
$lineColor: #E1E1E1;
$homeIconColor: #D31342;
// Fonts
$fontPrimary: 'DM Sans', sans-serif;
$fontSecondary: 'Titan One', cursive;