<section class="adv-section advantages">
    <div class="container advantages__container">

        <h2 class="visually-hidden">Nasze atuty</h2>

        <div class="advantages__icon-box">
            <ul class="advantages__icon-list">
                <li class="advantages__small-list">
                    <h2 class="advantages__small-numbers advantages__small-numbers--milk">721</h2>
                    <p class="advantages__small-text">
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </li>
                <li class="advantages__small-list">
                    <h2 class="advantages__small-numbers advantages__small-numbers--fruit">16kg</h2>
                    <p class="advantages__small-text">
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </li>
                <li class="advantages__small-list">
                    <h2 class="advantages__small-numbers advantages__small-numbers--heart">84</h2>
                    <p class="advantages__small-text">
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>