<section class="section advantages">
    <div class="container advantages__container">
        <h2 class="visually-hidden">Nasze atuty</h2>

        <!-- TU POWINNA BYĆ 2 SEKCJA "ADVANTAGES"-->

        <div class="advantages__icon-box">
            <ul class="advantages__icon-list">
                <li>
                    <ul class="advantages__small-list">
                        <li>
                            <!-- <img src="./images/milk.png" height="50px" width="33px" class="advantages__small-icon" /> -->
                        </li>
                        <li class="advantages__small-numbers advantages__small-numbers--milk">721</li>
                        <li class="advantages__small-text">
                            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="advantages__small-list">
                        <li>
                            <!-- <img src="./images/fruit.png" height="50px" width="50px" class="advantages__small-icon" /> -->
                        </li>
                        <li class="advantages__small-numbers advantages__small-numbers--fruit">16kg</li>
                        <li class="advantages__small-text">
                            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="advantages__small-list">
                        <li>
                            <!-- <img src="./images/heart.png" height="50px" width="44px" class="advantages__small-icon" /> -->
                        </li>
                        <li class="advantages__small-numbers advantages__small-numbers--heart">84</li>
                        <li class="advantages__small-text">
                            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- TU POWINNA BYĆ 3 SEKCJA "GALLERY"-->

    <!-- <div class="advantages__mockup"></div> -->
    <!-- <div class="advantages__picture">
         <picture>
            <source media="(min-width: 1280px)" srcset="./images/pic-collage@1x.png" />
            <source media="(min-width: 768px)" srcset="./images/pic-collage@2x.png" />
            <source media="(min-width: 320px)" srcset="./images/pic-collage@3x.png" />
            <img src="./images/pic-collage@1x.png" class="advantages__collage" alt="collage picture" />
        </picture>

        <img srcset="
        ./images/pic-collage-mb@1x.png  320w,
        ./images/pic-collage-mb@2x.png  640w,
        ./images/pic-collage-tb@1x.png  768w,
        ./images/pic-collage-tb@2x.png 1536w,
        ./images/pic-collage-dt@1x.png 1280w,
        ./images/pic-collage-dt@2x.png 2560w
      " src="./images/pic-collage-dt@1x.png"
            sizes="(min-width: 1280px) 1280, (min-width: 768px) 768px, (min-width: 320px) 320px, 100vw" min-width="280"
            alt="collage picture" class="advantages__collage" />
    </div> -->
    <script src="./index.js" type="module"></script>
</section>