<!-- Examples of button usage -->
<button class="button button__white button__menu">
  <span class="button__span--arrow">Buy now</span>
  <svg width="8" height="10" viewBox="0 0 24 24">
    <path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z" />
  </svg>
</button>

<button class="button button__red button__red--hero">Products</button>

<button class="button button__white button__white--hero">How it's made?</button>

<button class="button button__white button__section button__section--medium">
  <span class="button__span--arrow">Read more</span>
  <svg width="8" height="10" viewBox="0 0 24 24">
    <path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z" />
  </svg>
</button>

<button class="button button__arrow"></button>

<button class="button button__red button__section button__section--big">
  <span class="button__span--arrow">Our Locations</span>
  <svg width="8" height="10" viewBox="0 0 24 24">
    <path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z" />
  </svg>
</button>

<button class="button button__white button__section button__section--big">
  <span class="button__span--arrow">Franchise</span>
  <svg width="8" height="10" viewBox="0 0 24 24">
    <path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z" />
  </svg>
</button>