<section class="container comments">
  <div class="comments__photo">
    <img src="/src/images/person.jpg" alt="internet user photo" />
  </div>

  <div class="comments__table-background">
    <img class="comments__table-quote" src="/src/images/“.png" alt="quote image" />
    <table class="comments__table">
      <tr class="comments__table-column">
        <td class="comments__table-row">Nullam viverra</td>
      </tr>
      <tr class="comments__table-column">
        <td class="comments__table-row">consectetuer. Quisque</td>
      </tr>
      <tr class="comments__table-column">
        <td class="comments__table-row">cursus et, porttitor risus.</td>
      </tr>
      <tr class="comments__table-column">
        <td class="comments__table-row">Aliquam sem. In hendrerit</td>
      </tr>
      <tr class="comments__table-column">
        <td class="comments__table-row">nulla quam nunc,</td>
      </tr>
      <tr class="comments__table-column">
        <td class="comments__table-row">accumsan congue. Lorem</td>
      </tr>
      <tr class="comments__table-column">
        <td class="comments__table-row">ipsum primis in nibh vel</td>
      </tr>
      <tr class="comments__table-column">
        <td class="comments__table-row">risus.</td>
      </tr>
    </table>
  </div>
  <!-- <div class="comments__dots">
    <div class="comments__dots-dot"></div>
    <div class="comments__dots-dot"></div>
    <div class="comments__dots-dot"></div>
  </div> -->
  <span class="comments__name">Emily, Los Angeles</span>
  <div class="comments__slider">
    <img src="/src/images/home.png" alt="home icon" />
    <div class="comments__slider-element"></div>
    <div class="comments__slider-element"></div>
  </div>
</section>
