<section class="container comments">
  <h2 class="comments__title">Comments</h2>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide comments--swiper">
        <div class="comments__photo">
          <img src="/src/images/person-1.jpg" alt="internet user photo" />
        </div>
        <div class="comments__background">
          <img class="comments__quote" src="/src/images/“.png" alt="quote image" />
          <div class="comments__container comments__container--mobile">
            <span class="comments__row">Nullam viverra</span>
            <span class="comments__row">consectetuer. Quisque</span>
            <span class="comments__row">cursus et, porttitor risus.</span>
            <span class="comments__row">Aliquam sem. In hendrerit</span>
            <span class="comments__row">nulla quam nunc,</span>
            <span class="comments__row">accumsan congue. Lorem</span>
            <span class="comments__row">ipsum primis in nibh vel</span>
            <span class="comments__row">risus.</span>
          </div>
          <div class="comments__container comments__container--tablet">
            <span class="comments__row"
              >Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            </span>
            <span class="comments__row"
              >Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
            </span>
            <span class="comments__row">Lorem ipsum primis in nibh vel risus.</span>
          </div>
          <div class="comments__container comments__container--desktop">
            <span class="comments__row"
              >Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit
            </span>
            <span class="comments__row"
              >nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </span>
          </div>
        </div>
        <span class="comments__name">Emily, Los Angeles</span>
      </div>

      <div class="swiper-slide comments--swiper">
        <div class="comments__photo">
          <img src="/src/images/person-2.jpg" alt="internet user photo" />
        </div>
        <div class="comments__background">
          <img class="comments__quote" src="/src/images/“.png" alt="quote image" />
          <div class="comments__container comments__container--mobile">
            <span class="comments__row">Nullam viverra</span>
            <span class="comments__row">consectetuer. Quisque</span>
            <span class="comments__row">cursus et, porttitor risus.</span>
            <span class="comments__row">Aliquam sem. In hendrerit</span>
            <span class="comments__row">nulla quam nunc,</span>
            <span class="comments__row">accumsan congue. Lorem</span>
            <span class="comments__row">ipsum primis in nibh vel</span>
            <span class="comments__row">risus.</span>
          </div>
          <div class="comments__container comments__container--tablet">
            <span class="comments__row"
              >Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            </span>
            <span class="comments__row"
              >Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
            </span>
            <span class="comments__row">Lorem ipsum primis in nibh vel risus.</span>
          </div>
          <div class="comments__container comments__container--desktop">
            <span class="comments__row"
              >Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit
            </span>
            <span class="comments__row"
              >nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </span>
          </div>
        </div>
        <span class="comments__name">Rose, Sydney</span>
      </div>

      <div class="swiper-slide comments--swiper">
        <div class="comments__photo">
          <img src="/src/images/person-3.jpg" alt="internet user photo" />
        </div>
        <div class="comments__background">
          <img class="comments__quote" src="/src/images/“.png" alt="quote image" />
          <div class="comments__container comments__container--mobile">
            <span class="comments__row">Nullam viverra</span>
            <span class="comments__row">consectetuer. Quisque</span>
            <span class="comments__row">cursus et, porttitor risus.</span>
            <span class="comments__row">Aliquam sem. In hendrerit</span>
            <span class="comments__row">nulla quam nunc,</span>
            <span class="comments__row">accumsan congue. Lorem</span>
            <span class="comments__row">ipsum primis in nibh vel</span>
            <span class="comments__row">risus.</span>
          </div>
          <div class="comments__container comments__container--tablet">
            <span class="comments__row"
              >Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            </span>
            <span class="comments__row"
              >Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
            </span>
            <span class="comments__row">Lorem ipsum primis in nibh vel risus.</span>
          </div>
          <div class="comments__container comments__container--desktop">
            <span class="comments__row"
              >Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit
            </span>
            <span class="comments__row"
              >nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </span>
          </div>
        </div>
        <span class="comments__name">Imani, Africa</span>
      </div>
    </div>
    <div class="swiper-pagination comments__slider"></div>
  </div>
</section>
