<div class="footer__container">
  <div class="footer__headline">
    <p class="footer__headline--primary">
      homemade ice cream <br />
      made
    </p>
    <p class="footer__headline--secondary">
      with <br />
      passion
    </p>
  </div>
  <div>
    <ul class="footer__socials">
      <li>
        <svg class="footer__icon">
          <use xlink:href="../images/icons-footer.svg#icon-github"></use>
        </svg>
      </li>
      <li>2</li>
      <li>3</li>
    </ul>
  </div>

  <div class="footer__contact">
    <span></span>
    <a></a>
  </div>

  <div class="footer__copyrights">
    <span></span>
    <span></span>
  </div>
</div>
<!-- <div class="footer container">
  <div class="footer__headline">
    <p class="footer__headline--primary">HOMEMADE ICE CREAM MADE</p>
    <p class="footer__headline--secondary">WITH PASSION</p>
  </div>

  <div>
    <ul class="footer__socials">
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>
  </div>

  <div class="footer__contact">
    Feel free to contact
    <a class="footer__contact--phone" href="+61 (0) 383 766 284">+61 (0) 383 766 284</a>
  </div>

  <div class="footer__copyrights">
    <p class="footer__copyrights--text">
      &copy; 2019 - IceCream.<br />
      All Rights Reserved.
    </p>
  </div>
</div> -->
