<div class="footer__container">
  <div class="footer__headline">
    <p class="footer__headline--primary">
      homemade ice cream <br />
      made
    </p>
    <p class="footer__headline--secondary">
      with <br />
      passion
    </p>
  </div>
  <div>
    <ul class="footer__socials">
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>
  </div>

  <div class="footer__contact">
    <span class="footer__contact--text">Feel free to contact</span>
    <a class="footer__contact--phone" href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a>
  </div>
  <hr />
  <div class="footer__copyrights">
    <p>
      &copy 2019 - IceCream.<br />
      All Rights Reserved.
    </p>
  </div>
</div>
