<section>
  <img
    class="collage"
    srcset="
      ./images/collage-mb@1.png 450w,
      ./images/collage-mb@2.png 900w,
      ./images/collage-tb@1.png 354w,
      ./images/collage-tb@2.png 708w,
      ./images/collage-dt@1.png 270w,
      ./images/collage-dt@2.png 540w
    "
    src="./images/collage-mb@1.png"
    sizes="(min-width: 1200px) 1280px, (min-width: 768px) 786px, (min-width: 480px) 364px, 100vw"
    min-width="364"
    alt="collage of many pictures showing people eating our ice-ceams"
  />
</section>
