<section>
  <h2 class="collage__title">Collage</h2>
  <div>
    <img
      class="collage"
      srcset="
        ./images/pic-collage-mb@1x.png  320w,
        ./images/pic-collage-mb@2x.png  640w,
        ./images/pic-collage-tb@1x.png  768w,
        ./images/pic-collage-tb@2x.png 1536w,
        ./images/pic-collage-dt@1x.png 1280w,
        ./images/pic-collage-dt@2x.png 2560w
      "
      src="./images/pic-collage-dt@1x.png"
      sizes="(min-width: 1280px) 1280px, (min-width: 768px) 768px, (min-width: 320px) 320px"
      alt="collage picture"
    />
  </div>
</section>
