<div class="main-header">
  <nav class="main-header__nav">
    <img class="logo" src="images/logo.png" alt="Logo" />
    <ul class="main-header__list">
      <li><a class="main-header__link mobile-menu__link--active" href="#">Home</a></li>
      <li><a class="main-header__link" href="#">About us</a></li>
      <li><a class="main-header__link" href="#">How it`s made?</a></li>
      <li><a class="main-header__link" href="#">Our products</a></li>
      <li><a class="main-header__link" href="#">Contakt</a></li>
    </ul>
  </nav>
</div>
