<div class="main-header">
  <nav class="main-header__nav">
    <img class="logo" src="images/logo.png" alt="Logo" />
    <ul class="main-header__list">
      <li>
        <a class="main-header__link mobile-menu__link--active" href="index.html">Home</a>
      </li>
      <li><a class="main-header__link" href="#about-us">About us</a></li>
      <li><a class="main-header__link" href="#how-its-made">How it's made?</a></li>
      <li><a class="main-header__link" href="#our-products">Our products</a></li>
      <li><a class="main-header__link" href="#contact">Contact</a></li>
    </ul>
  </nav>
</div>