<section class="hero">
  <div class="container hero-container">
    <div class="hero__numbers">
      <div class="hero__slogan-buttons">
        <h2 class="hero__slogan">
          ice cream made with <span class="hero__slogan-span">passion</span>
        </h2>
        <div class="hero__button-flex">
          <button class="button button__red button__red--hero hero__button" type="button">
            Products
          </button>
          <button class="button button__white button__white--hero hero__button" type="button">
            How it's made?
          </button>
        </div>
      </div>
      <div class="hero__places">
        <p class="hero__place">16 <span class="hero__place-span">cafes</span></p>
        <p class="hero__place">
          23
          <span class="hero__place-span hero__place-span--bottom">food tracks</span>
        </p>
      </div>
    </div>
    <p class="hero__lorem">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </p>

    <img class="hero__milk-vase" src="./images/milk-vase.png" width="188" height="191" />
    <img class="hero__lady_with_icecream" src="./images/lady_with_icecream.png" height="232" />
  </div>
</section>
