<section class="hero">
  <div class="container hero-container">
    <div class="hero__numbers">
      <div class="hero__slogan-buttons">
        <h1 class="hero__slogan">
          ice cream made with <span class="hero__slogan-span">PASSION</span>
        </h1>
        <div class="hero__button-flex">
          <a href="#our_products" class="button button__red button__red--hero hero__button">
            Products
          </a>
          <a href="#how-its-made" class="button button__white button__white--hero hero__button">
            How it's made?
          </a>
        </div>
      </div>
      <div class="hero__places">
        <p class="hero__place">16 <span class="hero__place-span">cafes</span></p>
        <p class="hero__place">
          23
          <span class="hero__place-span hero__place-span--bottom">food tracks</span>
        </p>
      </div>
    </div>
    <p class="hero__lorem">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et

      <button type="button" class="hero__button-arrow"></button>

      <img
        srcset="
          ./images/lady_with_icecream_tablet@1.png  168w,
          ./images/lady_with_icecream-desktop@1.png 293w
        "
        src="./images/lady_with_icecream-desktop@1.png"
        sizes="(min-width: 1280px) 293px, (min-width: 768px) 168px"
        class="hero__lady_with_icecream"
        alt="lady with icecream"
      />
      <img
        srcset="./images/milk-vase-desktop.png 124w, ./images/milk-vase-desktop.png 188w"
        src="./images/milk-vase-desktop.png"
        sizes="(min-width: 1280px) 188px, (min-width: 768px) 124px"
        class="hero__milk-vase"
        alt="milk vase"
      />
      <!-- <img
      srcset="./images/arrow_desktop.png 24w, ./images/arrow_tablet.png 18w"
      src="./images/arrow_desktop.png"
      sizes="(min-width:1280px) 24px, (min-width:768px) 18px"
      class="hero__arrow"
    /> -->
    </p>
  </div>
</section>
