<section class="hero">
  <div class="container hero-container">
    <div class="hero__numbers">
      <div class="hero__slogan-buttons">
        <h2 class="hero__slogan">
          ice cream made with <span class="hero__slogan-span">passion</span>
        </h2>
        <div class="hero__button-flex">
          <button class="button button__red hero__button" type="button">Products</button>
          <button class="button button__white hero__button" type="button">How it's made?</button>
        </div>
      </div>
      <div class="hero__places">
        <p class="hero__place">16 <span class="hero__place-span">cafes</span></p>
        <p class="hero__place">
          23
          <span class="hero__place-span hero__place-span--bottom">food tracks</span>
        </p>
      </div>
    </div>

    <image class="hero__milk-vase" src="./images/milk-vase.png" width="188" height="191"></image>
    <image
      class="hero__lady_with_icecream"
      src="./images/lady_with_icecream.png"
      width="293"
      height="232"
    ></image>
    -->

    <image class="hero__arrow" src="./images/arrow.png" width="26" height="26" alt="arrow"></image>
    <p class="hero__lorem">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </p>
  </div>
</section>
