<section class="section how-its-made background-box" id="how-its-made">
  <div class="container how-its-made__container">
    <div class="how-its-made__container how-its-made__container--center">
      <h2 class="how-its-made__title">Tradition and love<span class="how-its-made__title--ubig">How it's made?</span>
      </h2>
      <div class="how-its-made__section">
        <img srcset="
            ./images/cow-pic-mb@1x.png  280w,
            ./images/cow-pic-mb@2x.png  560w,
            ./images/cow-pic-tb@1x.png  340w,
            ./images/cow-pic-tb@2x.png  680w,
            ./images/cow-pic-dt@1x.png  516w,
            ./images/cow-pic-dt@2x.png 1032w
          " src="./images/cow-pic-dt@1x.png" sizes="(min-width: 1280px) 516px, (min-width: 768px) 340px, (min-width: 320px) 280px" alt="cow pic"
          class="how-its-made__cow" />
        <div class="how-its-made__text-box">
          <ul class="how-its-made__text-list">
            <li class="how-its-made__text-item how-its-made__text-item--lower">
              <p>
                Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
                faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
              </p>
            </li>
            <li class="how-its-made__text-item how-its-made__text-item--grey">
              <p>
                Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris
                rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula
                volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
              </p>
              <p>Aliquam erat volutpat. Aenean accumsan.</p>
            </li>
            <li>
              <button class="button button__white button__section button__section--medium how-its-made__button">
                <span class="button__span--arrow">Read more</span>
                <svg width="8" height="10" viewBox="0 0 24 24">
                  <path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z" />
                </svg>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
</section>