<section class="section how-its-made background-box">
    <div class="container how-its-made__container ">
        <h2 class="how-its-made__title">Tradition and love</h2>
        <h2 class="how-its-made__title how-its-made__title--ubig">How it's made?</h2>
        <div class="how-its-made__section">
            <picture>
                <source media="(min-width: 1200px)" srcset="./images/cow-pic@1x.png" />
                <source media="(min-width: 768px)" srcset="./images/cow-pic@2x.png" />
                <source media="(min-width: 320px)" srcset="./images/cow-pic@3x.png" />
                <img src="./images/cow-pic@1x.png" class="how-its-made__cow" alt="cow picture" />
            </picture>
            <div class="how-its-made__text-box">
                <ul class="how-its-made__text-list">
                    <li>
                        <p>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
                            eget,
                            egestas eros.</p>
                        <p>Maecenas eleifend erat at justo fringilla.</p>
                    </li>
                    <li class="how-its-made__text-item">
                        <p class="how-its-made__text-list--grey">Curabitur lacinia enim at ex blandit, vel pellentesque
                            odio elementum. Mauris rhoncus orci in
                            imperdiet placerat.
                            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                            tincidunt.</p>
                        <p class="how-its-made__text-list--grey">Aliquam erat volutpat. Aenean accumsan.</p>
                    </li>
                    <li>
                        <button
                            class="button button__white button__section button__section--medium how-its-made__button">
                            <span class="button__span--arrow">Read more</span>
                            <svg width="8" height="10" viewBox="0 0 24 24">
                                <path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z" />
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="how-its-made__icon-box">
                <ul class="how-its-made__icon-list">
                    <li>
                        <ul class="how-its-made__small-list">
                            <li><img src="./images/milk.png" height="50px" width="33px"></li>
                            <li class="how-its-made__small-numbers">721</li>
                            <li class="how-its-made__small-text">Aliquam ac dui vel dui vulputate consectetur. Mauris
                                massa.</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="how-its-made__small-list">
                            <li><img src="./images/fruit.png" height="50px" width="50px"></li>
                            <li class="how-its-made__small-numbers">16kg</li>
                            <li class="how-its-made__small-text">Aliquam ac dui vel dui vulputate consectetur. Mauris
                                massa.</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="how-its-made__small-list">
                            <li><img src="./images/heart.png" height="50px" width="44px"></li>
                            <li class="how-its-made__small-numbers">84</li>
                            <li class="how-its-made__small-text">Aliquam ac dui vel dui vulputate consectetur. Mauris
                                massa.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <picture>
            <source media="(min-width: 1200px)" srcset="./images/pic-collage@1x.png" />
            <source media="(min-width: 768px)" srcset="./images/pic-collage@2x.png" />
            <source media="(min-width: 320px)" srcset="./images/pic-collage@3x.png" />
            <img src="./images/pic-collage@1x.png" class="how-its-made__collage" alt="collage picture" />
        </picture>
    </div>
    <script src="./index.js" type="module"></script>
</section>