<!--Section how it's made  start-->
<section class="howitsmade">
  <div class="howitsmade__title">
    <p class="howitsmade__title--first">tradidtion and love</p>
    <p class="howitsmade__title--second">how it's made</p>
  </div>

  <div class="howitsmade__description">
    <div class="cow">
      <img
        class="cow__img"
        srcset="
          ./images/cow-mb@1.png 450w,
          ./images/cow-mb@2.png 900w,
          ./images/cow-tb@1.png 354w,
          ./images/cow-tb@2.png 708w,
          ./images/cow-dt@1.png 270w,
          ./images/cow-dt@2.png 540w
        "
        src="./images/cow-mb@1.png"
        sizes="(min-width: 1200px) 516px, (min-width: 768px) 340px, (min-width: 480px) 230px, 100vw"
        min-width="230"
        alt="picture showing a cow and a milk jug"
      />
    </div>

    <div>
      <ul>
        <div class="milk-background-320">
          <li class="howitsmade__text howitsmade__text--first">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </li>

          <li class="howitsmade__text howitsmade__text--second">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt. <br /><br />Aliquam erat volutpat. Aenean
            accumsan.
          </li>
        </div>

        <li class="howitsmade__text howitsmade__text--third">
          <button class="button button__white button__section button__section--medium">
            <span class="button__span--arrow">Read more</span>
            <svg width="8" height="10" viewBox="0 0 24 24">
              <path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z" />
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>

  <!-- icons with numerical statistics -->
  <ul class="how">
    <li class="how__li">
      <img src="./images/icon-milk.png" alt="icon with milk" width="33px" height="50px" />
      <p class="how__numbers">721</p>
      <p class="how__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>

    <li class="how__li">
      <img src="./images/icon-fruit.png" alt="icon with fruits" width="50px" height="50px" />
      <p class="how__numbers">16kg</p>
      <p class="how__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>

    <li class="how__li">
      <img src="./images/icon-heart.png" alt="icon with heart" width="44px" height="50px" />
      <p class="how__numbers">84</p>
      <p class="how__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
  </ul>

  <!-- Collage with many pictures -->
  <img
    class="collage"
    srcset="
      ./images/collage-mb@1.png 450w,
      ./images/collage-mb@2.png 900w,
      ./images/collage-tb@1.png 354w,
      ./images/collage-tb@2.png 708w,
      ./images/collage-dt@1.png 270w,
      ./images/collage-dt@2.png 540w
    "
    src="./images/collage-mb@1.png"
    sizes="(min-width: 1200px) 1280px, (min-width: 768px) 786px, (min-width: 480px) 364px, 100vw"
    min-width="364"
    alt="collage of many pictures showing people eating our ice-ceams"
  />
</section>
<!--Section how it's made  end-->
