<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="20" height="20">
      <path
        fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </button>

  <div class="mobile-menu">
    <div class="mobile-menu__button">
      <button class="button button__white button__menu">
        <span class="button__span--arrow">Buy now</span>
        <svg width="8" height="10" viewBox="0 0 24 24">
          <path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z" />
        </svg>
      </button>
    </div>
    <div>
      <ul>
        <li class="mobile-menu__border">
          <a class="mobile-menu__link mobile-menu__link--active" href="index.html">Home</a>
        </li>
        <li class="mobile-menu__border">
          <a class="mobile-menu__link" href="#about-us">About us</a>
        </li>
        <li class="mobile-menu__border">
          <a class="mobile-menu__link" href="#how-its-made">How it's made?</a>
        </li>
        <li class="mobile-menu__border">
          <a class="mobile-menu__link" href="#our-products">Our products</a>
        </li>
        <li class="mobile-menu__border mobile-menu__border--bottom">
          <a class="mobile-menu__link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
<script defer src="mobile-menu.js"></script>
