<section class="places-section">
    <div class="places-container">
    <ul class="places-ul">
    <li class="places-box">
    <div class="places-block">
        <div class="cafe">
            CAFE
        </div>
        <h3 class="places-city">Chicago</h3>
        <div class="places-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</div>
        <hr class="text-line">
        <h3 class="places-open">Monday - Friday</h3>
        <h4 class="places-hour">06:00 AM - 10:00 PM</h4>
        <h3 class="places-open">Saturday - Sunday</h3>
        <h4 class="places-hour">08:00 AM - 16:00 PM</h4>
        <hr class="text-line">
        <adress class="places-contact">
            <a href="tel:+61(0) 383 766 284" class="contact-link">
                +61(0) 383 766 284 
                <a href="mailto:noreply@envato.com.com" class="contact-link">
                    noreply@envato.com
                </adress>
        </div>
        </li>

<li class="places-box">
<div class="places-block">
    <div class="foodtrack">
        FOODTRACK
    </div>
    <h3 class="places-city">Los Angeles</h3>
    <div class="places-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</div>
    <hr class="text-line">
    <h3 class="places-open">Monday - Friday</h3>
    <h4 class="places-hour">06:00 AM - 10:00 PM</h4>
    <h3 class="places-open">Saturday - Sunday</h3>
    <h4 class="places-hour">08:00 AM - 16:00 PM</h4>
    <hr class="text-line">
    <adress class="places-contact">
        <a href="tel:+61(0) 383 766 284" class="contact-link">
            +61(0) 383 766 284 
            <a href="mailto:noreply@envato.com.com" class="contact-link">
                noreply@envato.com
            </adress>
    </div>
    </li>

<li class="places-box">
    <div class="places-block">
        <div class="cafe">
            CAFE
        </div>
<h3 class="places-city">New York</h3>
<div class="places-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</div>
<hr class="text-line">
<h3 class="places-open">Monday - Friday</h3>
<h4 class="places-hour">06:00 AM - 10:00 PM</h4>
<h3 class="places-open">Saturday - Sunday</h3>
<h4 class="places-hour">08:00 AM - 16:00 PM</h4>
<hr class="text-line">
<adress class="places-contact">
    <a href="tel:+61(0) 383 766 284" class="contact-link">
        +61(0) 383 766 284 
        <a href="mailto:noreply@envato.com.com" class="contact-link">
            noreply@envato.com
        </adress>
</div>
</div>
</li>
</ul>
<!-- dodaj buttony -->
</section>



<!-- <button class="button button__white button__section button__section--big">
    <span class="button__span--arrow">Franchise</span>
    <svg width="8" height="10" viewBox="0 0 24 24">
      <path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z" />
    </svg>
  </button> -->