<section class="places__section" id="about-us">
  <h2 class="places__name">Places</h2>
  <div class="places__container">
    <ul class="places__ul">
      <li class="places__list">
        <div class="places__box">
          <div class="places__cafe">CAFE</div>
          <h3 class="places__city">Chicago</h3>
          <div class="places__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</div>
          <hr class="places__text--line" />
          <h3 class="places__days">Monday - Friday</h3>
          <span class="places__hours places__hours--space">06:00 AM - 10:00 PM</span>
          <h3 class="places__days">Saturday - Sunday</h3>
          <span class="places__hours">08:00 AM - 16:00 PM</span>
          <hr class="places__text--line" />
          <address class="places__contact">
            <a href="tel:+61(0)383766284" class="places__contact--link"> +61(0) 383 766 284 </a>
            <a href="mailto:noreply@envato.com.com" class="places__contact--link">
              noreply@envato.com
            </a>
          </address>
        </div>
      </li>
      <li class="places__list">
        <div class="places__box">
          <div class="places__foodtruck">FOODTRUCK</div>
          <h3 class="places__city">Los Angeles</h3>
          <div class="places__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</div>
          <hr class="places__text--line" />
          <h3 class="places__days">Monday - Friday</h3>
          <span class="places__hours places__hours--space">06:00 AM - 10:00 PM</span>
          <h3 class="places__days">Saturday - Sunday</h3>
          <span class="places__hours">08:00 AM - 16:00 PM</span>
          <hr class="places__text--line" />
          <address class="places__contact">
            <a href="tel:+61(0)383766284" class="places__contact--link"> +61(0) 383 766 284 </a>
            <a href="mailto:noreply@envato.com.com" class="places__contact--link">
              noreply@envato.com
            </a>
          </address>
        </div>
      </li>
      <li class="places__list">
        <div class="places__box">
          <div class="places__cafe">CAFE</div>
          <h3 class="places__city">New York</h3>
          <div class="places__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</div>
          <hr class="places__text--line" />
          <h3 class="places__days">Monday - Friday</h3>
          <span class="places__hours places__hours--space">06:00 AM - 10:00 PM</span>
          <h3 class="places__days">Saturday - Sunday</h3>
          <span class="places__hours">08:00 AM - 16:00 PM</span>
          <hr class="places__text--line" />
          <address class="places__contact">
            <a href="tel:+61(0)383766284" class="places__contact--link"> +61(0) 383 766 284 </a>
            <a href="mailto:noreply@envato.com.com" class="places__contact--link">
              noreply@envato.com
            </a>
          </address>
        </div>
      </li>
    </ul>
    <div class="places__buttons">
      <button class="button button__red button__section button__section--big">
        <span class="button__span--arrow">Our Locations</span>
        <svg width="8" height="10" viewBox="0 0 24 24">
          <path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z" />
        </svg>
      </button>
      <button class="button button__white button__section button__section--big">
        <span class="button__span--arrow">Franchise</span>
        <svg width="8" height="10" viewBox="0 0 24 24">
          <path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z" />
        </svg>
      </button>
    </div>
  </div>
</section>