<section class="products" id="our-products">
  <h2 class="products__label" id="our_products">100% natural<span class="products__header">Products</span></h2>
  <ul class="products__container">
    <li class="products__card">
      <h3 class="products__name">Ice cream</h3>
      <p class="products__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et <span class="products_description-hidden"> dolore magna aliqua facilisis. </span>
      </p>
      <button class="button button__arrow products__button"></button>
    </li>
    <li class="products__card products__card--yellow">
      <h3 class="products__name">Ice coffee</h3>
      <p class="products__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et <span class="products_description-hidden"> dolore magna aliqua facilisis. </span>
      </p>
      <button class="button button__arrow products__button"></button>
    </li>
    <li class="products__card products__card--green">
      <h3 class="products__name">Milkshakes</h3>
      <p class="products__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et <span class="products_description-hidden"> dolore magna aliqua facilisis. </span>
      </p>
      <button class="button button__arrow products__button"></button>
    </li>
  </ul>
</section>