.button {
  font-size: 8px;
  background-color: #fff;
  border: 0;
  border-radius: 20px;
  padding: 7px 14px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__span--arrow {
    padding-right: 15px;
  }

  &__red {
    background-color: #d41443;
    color: #fff;

    & svg {
      fill: white;
    }
  }

  &__white {
    background-color: #fff;
    color: #d41443;

    & svg {
      fill: #d41443;
    }
  }

  &__white,
  &__red {
    line-height: 10px;
  }

  &__arrow {
    background: url(../images/button-arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    width: 40px;
    height: 40px;
  }

  &__menu {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    width: 190px;
    padding: 12px 0;
  }

  &__section {
    width: 176px;
    font-weight: 700;
    line-height: 18px;
    padding: 12px 0;

    &--medium {
      font-size: 14px;
      line-height: 18px;
    }

    &--big {
      font-size: 16px;
      line-height: 21px;
    }
  }
}

@media (min-width: 1200px) {
  .button {
    &__red,
    &__white {
      &--hero {
        font-size: 14px;
        line-height: 18px;
        padding: 12px 20px;
      }
    }

    &__menu {
      width: 160px;
    }

    &__section {
      &--big {
        width: 200px;
      }
    }
  }
}
