// To delete after add global styles
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
  background-color: grey;
}

.test {
  padding: 0 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.button {
  // Style to delete after add global styles
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;

  background-color: #fff;
  border: 0;
  border-radius: 20px;
  padding: 7px 14px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__span--arrow {
    padding-right: 15px;
  }

  &__red {
    background-color: #d41443;
    color: #fff;

    & svg {
      fill: white;
    }
  }

  &__white {
    background-color: #fff;
    color: #d41443;

    & svg {
      fill: #d41443;
    }
  }

  &__arrow {
    background: url(../images/button-arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    width: 40px;
    height: 40px;
  }

  &__menu {
    background-color: #fff;
    color: #d41443;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    width: 190px;
    padding: 12px 0;

    & svg {
      fill: #d41443;
    }
  }

  &__section {
    width: 176px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    padding: 12px 0;

    &--big {
      font-size: 16px;
      line-height: 21px;
    }
  }
}

@media (min-width: 1200px) {
  .button {
    &__red,
    &__white {
      &--hero {
        font-size: 14px;
        line-height: 18px;
        padding: 12px 20px;
      }
    }

    &__menu {
      &--size {
        width: 160px;
      }
    }

    &__section {
      &--big {
        width: 200px;
      }
    }
  }
}
