.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 43px 0;

  &__title {
    display: none;
  }

  &--swiper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 43px;
  }

  &__photo {
    overflow: hidden;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-bottom: 29px;
  }

  &__background {
    width: 280px;
    height: 308px;
    background-color: $IVBgColor;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;

    &::after {
      content: '...';
      font-size: 50px;
      color: $btnHoverIIColor;
      display: block;
      text-align: center;
      letter-spacing: 10px;
      line-height: 0;
      margin-top: 28px;
    }
  }

  &__container {
    padding: 43px 50px 0 50px;

    &--mobile {
      display: block;
    }
    &--tablet {
      display: none;
    }
    &--desktop {
      display: none;
    }
  }

  &__quote {
    position: absolute;
    top: 28px;
    left: 61px;
  }

  &__row {
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: 255%;
    letter-spacing: 0.04em;
    padding: 0 11px;
    border-bottom: 1px solid $lineColor;
    position: relative;
    z-index: 1;
  }

  &__name {
    font-weight: 500;
    line-height: 186%;
    margin-top: 52px;
  }

  &__slider {
    display: flex;
    gap: 18px;
    justify-content: center;

    &-element {
      background-color: $sliderColor;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      cursor: pointer;

      &--active {
        background-image: url(/src/images/home.png);
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 0;
      }
    }
  }
}

.swiper {
  width: 100%;
}

.swiper-slide {
  color: #000;
  text-align: center;
}

@media (min-width: 768px) {
  .comments {
    &__background {
      width: 620px;
      height: 164px;

      &::after {
        margin-top: 40px;
      }
    }

    &__container {
      &--mobile {
        display: none;
      }
      &--tablet {
        display: block;
      }
      &--desktop {
        display: none;
      }
    }

    &__photo {
      margin-bottom: 19px;
    }

    &__quote {
      top: 30px;
      left: 40px;
    }

    &__row {
      font-size: 14px;
      line-height: 216%;
    }

    &__name {
      margin-top: 42px;
    }
  }
}

@media (min-width: 1280px) {
  .comments {
    &__background {
      width: 926px;
      height: 138px;

      &::after {
        margin-top: 35px;
      }
    }

    &__container {
      &--mobile {
        display: none;
      }
      &--tablet {
        display: none;
      }
      &--desktop {
        display: block;
      }
    }

    &__photo {
      margin-bottom: 15px;
    }

    &__quote {
      top: 32px;
      left: 50px;
    }

    &__row {
      font-weight: 500;
      font-size: 16px;
      line-height: 186%;
      letter-spacing: 0.04em;
    }

    &__name {
      margin-top: 34px;
    }
  }
}
