.collage {
  height: 122px;
  width: 364px;
  left: 0;
  transform: translateY(-103.5%);
  margin: 0 auto;
  margin-bottom: -100px;

  &__title {
    display: none;
  }

  @media screen and (min-width: 768px) {
    width: 786px;
    height: 264px;
    transform: translateY(-70%);
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    height: 430px;
    transform: translateY(-58%);
  }
}
