.header-nav__right {
  display: flex;
  align-items: center;
  z-index: 4;
}
.section-nav {
  display: flex;
  justify-content: center;
  background-color: $IBgColor;
}

.center-nav {
  width: 100%;
  max-width: 480px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 4px 0px 0px 20px;
}
.logo {
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  .center-nav {
    padding: 37px 115px 0px 46px;
    max-width: 1280px;
  }
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
  .center-nav {
    padding: 37px 34px 0px;
    max-width: 768px;
  }
}

.main-header {
  display: flex;
  align-items: center;

  &__nav {
    display: flex;
    align-items: center;
    z-index: 4;
  }

  &__link {
    display: inline-block;
    font-family: $fontPrimary;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: $IColor;
    transition-duration: 250ms;

    &:hover {
      color: $IIIColor;
      transform: translateY(-2px);
    }
  }

  &__list {
    display: flex;
    gap: 35px;
    margin-left: 110px;
    z-index: 4;
  }

  @media (max-width: 767px) {
    &__btn {
      display: none;
    }
  }

  @media screen and (max-width: 1279px) {
    &__list {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }
}
