.section-nav {
  display: flex;
  justify-content: center;
}

.center-nav {
  width: 100%;
  max-width: 1280px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.main-header {
  display: flex;
  align-items: center;

  &__nav {
    padding: 4px 20px;
    display: flex;
    align-items: center;
  }

  &__link {
    font-family: $fontPrimary;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: $IColor;
  }

  &__list {
    display: flex;
    gap: 35px;
    margin-left: 110px;
  }

  @media (max-width: 1280px) {
    &__list {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  @media (min-width: 768px) {
    &__nav {
      padding-top: 37px;
      padding-left: 34px;
    }
  }

  @media (min-width: 1280px) {
    &__nav {
      padding-top: 37px;
      padding-left: 34px;
    }
  }
}