//mobile
.hero-container {
  background-color: $IBgColor;
  background-image: url(../images/ice-cream_mobile@1.png), url(../images/background-circe.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 117px 36px, 36px 27px;
  background-size: 171px 410px, 346px 344px;
  position: relative;
}
.hero__slogan-buttons {
  padding-top: 133px;
  padding-bottom: 160px;
}
.hero__slogan {
  text-transform: uppercase;
  height: 106px;
  width: 218px;
  font-family: $fontSecondary;
  font-size: 26px;
  font-weight: 400;
  line-height: 29.77px;
  letter-spacing: 0.04em;
  text-align: left;
  color: $IColor;
  margin-bottom: 19px;
}
.hero__slogan-span {
  font-family: $fontSecondary;
  font-size: 48px;
  font-weight: 400;
  line-height: 45.84px;
  letter-spacing: 0.04em;
  text-align: left;
  color: $IIIColor;
}

.hero__places {
  display: none;
}
.hero__button-flex {
  display: flex;
  gap: 8px;
  margin-bottom: 0px;
}
.hero__button {
  font-family: $fontPrimary;
}
//desktop
@media (min-width: 1280px) {
  .hero-container {
    background-color: $IBgColor;
    background-image: none;

    // background-image: url(../images/ice-cream_destkop@1.png), url(../images/background-circe.png),
    //   url(../images/ellipse.png), url(../images/ellipse.png);
    // background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    // background-position: 594px 21px, 475px -21px, 1153px 74px, 1153px 166px;
    // background-size: auto auto, auto auto, auto auto, auto auto;
    position: relative;
  }

  .hero-container::before {
    background-image: url(../images/ice-cream_destkop@1.png);
    position: absolute;
    background-size: 236px 557px;
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
    top: 26px;
    left: 594px;
    content: '';
    z-index: 3;
  }
  .hero-container:after {
    background-image: url(../images/background-circe.png);
    position: absolute;
    background-size: 538px 538px;
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
    top: -25px;
    left: 475px;
    content: '';
    z-index: 2;
  }

  .hero__slogan-buttons {
    padding-top: 84px;
    padding-bottom: 112px;
    padding-left: 95px;
  }
  .hero__slogan {
    text-transform: uppercase;

    margin-right: 714px;
    margin-bottom: 25px;
    height: 137px;
    width: 277px;
    font-family: $fontSecondary;
    font-size: 38px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-align: left;
    font-family: Titan One;
    text-align: left;
    color: $IColor;
  }
  .hero__slogan-span {
    font-family: $fontSecondary;
    font-size: 58px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0.04em;
    text-align: left;
    color: $IIIColor;
  }
  .hero__numbers {
    display: flex;
    align-items: baseline;
  }
  .hero__places {
    display: flex;
    flex-direction: column;
  }
  .hero__place {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: $fontSecondary;
    font-size: 46px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0.04em;
    text-align: right;
    color: $IIIColor;
  }
  .hero__place-span {
    font-family: $fontPrimary;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: right;
    color: $IColor;
    margin-bottom: 18px;
  }
  .hero__place-span--bottom {
    margin-bottom: 0;
  }
  .hero__lorem {
    font-family: $fontPrimary;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: $IColor;
    width: 200px;
    margin-left: 275px;
    padding-bottom: 102px;
  }
  .hero__milk-vase {
    position: absolute;
    top: 342px;
    left: 77px;
  }
  .hero__lady_with_icecream {
    position: absolute;
    top: 346px;
    left: 878px;
    z-index: 4;
  }
}
