.howitsmade {
  background-color: $VBgColor;

  &__title {
    font-family: $fontSecondary;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;

    &--first {
      color: $IVColor;
      font-size: 18px;
      line-height: 1.17;
      padding-top: 125px;
      padding-bottom: 15px;
    }
    &--second {
      font-size: 34px;
      color: $IIIColor;
      letter-spacing: 0.04em;
      line-height: 1.15;
      padding-bottom: 26px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
  }

  &__text {
    font-family: $fontPrimary;
    font-style: normal;
    font-weight: 500px;
    font-size: 12px;
    padding-right: 50px;
    padding-left: 50px;
    line-height: 1.58;

    &--first {
      color: $IIColor;
      padding-top: 46px;
      padding-bottom: 36px;
    }

    &--second {
      color: $textColor;
      padding-bottom: 22px;
    }

    &--third {
      padding-bottom: 39px;
    }
  }
}

.cow {
  padding-left: 20px;
  padding-right: 20px;
  object-fit: contain;
  &__img {
    object-fit: contain;
  }
}

.milk-background-320 {
  background-image: url('/src/images/milk-320@1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 100%;
  width: 100%;
}

.how {
  display: flex;
  flex-direction: column;

  &__li {
    padding: 0px 38px 38px 20px;
  }

  &__numbers {
    font-family: $fontSecondary;
    text-transform: uppercase;
    color: $IIIColor;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 4%;
    padding-top: 16px;
    padding-bottom: 19px;
  }

  &__description {
    font-family: $fontPrimary;
    color: $IIColor;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.67;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .milkbackground {
    background-image: url(/src/images/milk-1200@2.png);
  }
}

@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .milkbackground {
    background-image: url(/src/images/milk-1200@3.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .howitsmade {
    &__title {
      &--first {
        font-size: 26px;
        line-height: 1.15;
        padding-top: 130px;
        padding-bottom: 16px;
      }
      &--second {
        font-size: 48px;
        letter-spacing: 4%;
        line-height: 1.15;
        padding-bottom: 100px;
      }
    }
    &__description {
      flex-direction: row;
    }

    &__text {
      font-size: 14px;
      padding-right: 17px;
      padding-left: 36px;
      line-height: 1.79;
      letter-spacing: 4%;

      &--first {
        padding-top: 100px;
      }
    }
  }

  .milk-background-320 {
    background-image: none;
  }

  .how {
    flex-direction: row;
    justify-content: center;
    padding-right: 36px;
    gap: 60px;

    &__numbers {
      font-size: 48px;
      padding-top: 36px;
      padding-bottom: 13px;
    }

    &__description {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.71;
    }
  }
}

@media screen and (min-width: 1200px) {
  .milk-background-320 {
    background-image: none;
  }
  .howitsmade {
    &__title {
      &--first {
        font-size: 30px;
        line-height: 1.13;
        letter-spacing: 4%;
      }
      &--second {
        font-size: 58px;
        letter-spacing: 6%;
        line-height: 1.14;
        padding-bottom: 120px;
      }
    }

    &__description {
      background-image: url(/src/images/milk-1200@1.png);
      background-repeat: no-repeat;
      background-size: cover;
      flex-direction: row;
    }

    &__text {
      font-size: 16px;
      padding-right: 74px;
      padding-left: 115px;
      line-height: 1.75;
      letter-spacing: 4%;

      &--first {
        padding-top: 106px;
      }

      &--second {
        padding-bottom: 45px;
      }
    }
  }

  .how {
    flex-direction: row;
    justify-content: center;
    padding-right: 36px;
    gap: 60px;

    &__numbers {
      font-size: 48px;
      padding-top: 36px;
      padding-bottom: 13px;
    }

    &__description {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.71;
    }
  }
}
