
.section {
    padding-top: 125px;
    padding-bottom: 145px;
    background-color: $VBgColor;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 auto;
}

.how-its-made {

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        color: $IVColor;
        font-family: $fontSecondary; 
        font-size: 18px;
        margin-bottom: 15px;
        text-align: center;            
        
        &--ubig {
            color: $IIIColor;
            font-size: 40px;
            margin-bottom: 26px;
        }
    }


    &__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    &__cow {
        max-height:100%;
        margin-bottom: 46px;
    }

    &__text-list {
        display: flex;
        flex-direction: column;
        color: $IIColor;
        font-family: $fontPrimary;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.6;
        padding: 0 35px;
        gap: 30px;
        margin-bottom: 40px;

        &--grey {
            color: $textColor;
        }
    }

    &__text-item {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__button {
        cursor: pointer;
    }

    &__icon-list {
        display: flex;
        flex-direction: column;
        gap: 38px;
    }

    &__small-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__small-numbers {
        color: $IIIColor;
        font-family: $fontSecondary;
        font-size: 36px;
    }

    &__small-text {
        color: $IIColor;
        font-weight: 700;
        line-height: 1.7;
    }

    &__collage {
        position: absolute;
        left: 0;
        width: 100vw;
        transform: translateY(79%);
    }
}

.background-box {
    position: relative;

    &::before {
        position: relative;
        top: 700px;
        left: 0;
        content: '';
        background-image: url('../images/milk-background@1x.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;
        width: 100vw;
        z-index: -1;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}