.section {
  padding-top: 125px;
  padding-bottom: 39px;
  background-color: $VBgColor;
  line-height: 1.2;
  margin: 0 auto;
}

.how-its-made {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--center {
      align-items: center;
    }
  }

  &__title {
    color: $IVColor;
    font-family: $fontSecondary;
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;

    &--ubig {
      color: $IIIColor;
      font-size: 40px;
      margin-bottom: 26px;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__cow {
    max-height: 100%;
  }

  &__text-list {
    display: flex;
    flex-direction: column;
    color: $IIColor;
    font-family: $fontPrimary;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6;
    position: relative;
    z-index: 99;
    max-width: 220px;
  }

  &__text-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;

    &--lower {
      margin-bottom: 31px;
    }

    &--grey {
      color: $textColor;
      gap: 30px;
    }
  }

  &__button {
    cursor: pointer;
  }


  /* === wstawione do partials collage 
  &__collage {
    height: 122px;
    width: 364px;
    left: 0;
    transform: translateY(60%);
    margin: 0 auto;
    margin-bottom: 111px;
  }
  === */

  /*
  &__picture {
    margin-bottom: 300px;
  } 
  */
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 130px;
    padding-bottom: 66px;
  }

  .how-its-made {
    &__container {
      &--center {
        align-items: center;
      }
    }

    &__title {
      font-size: 26px;
      margin-bottom: 16px;

      &--ubig {
        font-size: 48px;
        margin-bottom: 50px;
      }
    }

    &__section {
      align-items: flex-start;
      flex-direction: row;
      padding: 0 18px;
    }

    &__cow {
      max-width: 340px;
    }

    &__text-list {
      font-size: 14px;
      line-height: 1.8;
      // padding-left: 17px;
      padding-right: 0;
      padding-top: 53px;
      max-width: 340px;
    }

    &__text-item {
      line-height: 1.8;
      margin-bottom: 62px;

      &--lower {
        margin-bottom: 31px;
      }

      &--grey {
        gap: 15px;
      }
    }

    &__button {
      font-size: 16px;
    }

    /* wstawione do partials gallery
    &__collage {
      margin-bottom: 236px;
      width: 786px;
      height: 264px;
    }
    */
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 125px;
    padding-bottom: 39px;
  }

  .how-its-made {
    &__container {
      &--center {
        align-items: center;
      }
    }

    &__title {
      font-size: 30px;
      margin-bottom: 15px;

      &--ubig {
        font-size: 58px;
        margin-bottom: 55px;
      }
    }

    &__section {
      flex-direction: row;
      padding: 0 97px;
      gap: 74px;
    }

    &__cow {
      max-width: 516px;
    }

    &__text-list {
      font-size: 16px;
      line-height: 1.8;
      padding-top: 47px;
      // padding-left: 74px;
      padding-right: 0;
      max-width: 463px;
    }

    &__text-item {
      line-height: 1.9;
      margin-bottom: 41px;

      &--lower {
        margin-bottom: 35px;
      }

      &--grey {
        font-size: 14px;
        gap: 20px;
      }
    }

    /* wstawione do partials collage
    &__collage {
      margin-bottom: 339px;
      width: 1280px;
      height: 430px;
    } */
  }
}

.background-box {
  background-image: url('../images/milk-background-dt@1x.png');
  background-position: left 735px;
  background-repeat: no-repeat;
  background-size: 100% 150px;
  /* position: relative;

  &::before {
    position: absolute;
    top: 740px;
    left: 0;
    content: '';
    background-image: url('../images/milk-background-dt@1x.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100vw;
    z-index: 3;
    
    @media screen and (min-width: 768px) {
      display: none;
    }

    @media screen and (min-width: 1280px) {
      display: block;
      top: 250px;
    }
  }
  */
  @media screen and (min-width: 480px) {
  background-position: left 645px;
  background-size: 100% 225px;
  }

  @media screen and (min-width: 768px) {
    background-image: none;
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../images/milk-background-dt@1x.png');
    background-position: left 340px;
    background-repeat: no-repeat;
    background-size: 100% 600px;
  }

  @media screen and (min-width: 2000px) {
    background-position: left 220px;
    background-size: 100% 700px;
  }

  @media screen and (min-width: 3000px) {
    background-position: left 200px;
    background-size: 100% 800px;
  }
}


@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .background-box {
    background-image: url('../images/milk-background-mb@2x.png');
  }
}

/* Bottom margin fix for collage 

.section {
  margin-bottom: 80px;
  padding-bottom: 0;

  @media screen and (min-width: 768px) {
    margin-bottom: 121px;
    padding-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 123px;
    padding-bottom: 0;
  }
}

*/

/*
.how-its-made__mockup {
    width: 100vw;
    min-height: 97px;
    
    @media screen and (min-width: 768px) {
        min-height: 140px;
    }

    @media screen and (min-height: 1280px) {
        min-height: 139px;
    }
}
*/

/* End fix */
